body {
 	background-image: linear-gradient(rgba(255, 255, 255, 1), rgba(255, 255, 255, 0.2)), url(https://api.dujin.org/bing/1920.php);
 	background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 50% 50%;
	background-size: cover;
}